.footer {
  margin-top: auto;
}

.customFooter {
  background: #4e93dc;
  color: #ffffff;
  padding: 20px 0;
  margin-top: 20px;
}

.whiteLink {
  color: white;
  text-decoration: none;
}

.contactIcon {
  margin-right: 8px;
}

.textCenter {
  text-align: center;
}
