.centeredError {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.tableContainer {
  display: block;
}

.cardContainer {
  display: none;
}

.dashboardId {
  width: 100px;
  white-space: nowrap;
}

.dashboardDetail {
  width: 130px;
  text-align: center;
}

.dashboardNama {
  width: 380px;
}

.dashboardNohp {
  width: 200px;
}

.dashboardLokasi {
  width: 500px;
}

@media (max-width: 767px) {
  .tableContainer {
    display: none;
  }

  .cardContainer {
    display: block;
  }
}

.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
}

.cardText {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cardLabel {
  font-weight: bold;
  min-width: 100px;
  display: inline-block;
}

.cardValue {
  display: inline-block;
}

.cardLink {
  text-decoration: none;
  color: #007bff;
}
