.tableCustom {
  width: 100%;
}

.tableCustom td {
  word-wrap: break-word;
}

.tableCustom th,
.tableCustom td {
  padding: 10px;
  text-align: left;
}

.colNama {
  width: 200px;
}

.imageContainer img {
  border-radius: 8px;
}

@media (max-width: 767.98px) {
  .imageContainer {
    margin-top: 1rem;
  }
}
